"*":
  "atom-beautify":
    general:
      _analyticsUserId: "b4acedf0-c148-4897-b141-30d6216f357a"
  core:
    disabledPackages: [
      "language-python"
    ]
    restorePreviousWindowsOnStart: "no"
    telemetryConsent: "limited"
    themes: [
      "one-dark-ui"
      "dracula-syntax"
    ]
    titleBar: "custom"
  editor:
    fontFamily: "Hasklig, Source Code Pro, monospace"
  "exception-reporting":
    userId: "3936194a-a7c5-4a98-9af0-c9fcd7fa0bed"
  minimap:
    plugins:
      "find-and-replace": true
      "find-and-replaceDecorationsZIndex": 0
      "git-diff": true
      "git-diffDecorationsZIndex": 0
  welcome:
    showOnStartup: false
".java.source":
  editor:
    tabLength: 4
